<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Thymeleaf Exercise #</title>
    <link rel="stylesheet" th:href="@{/style.css}" />
    <meta charset="utf-8" />
</head>
<body>
<div>
    <div th:each="account : ${allaccounts}">
        <span th:text="'Account owner: ' + ${account.getName()} + ' | Balance: ' +
        ${#numbers.formatDecimal(account.getBalance(), 1, 'COMMA', 2, 'POINT')} + ' ' +
        ${account.getCurrency()} + ' | Species: ' + ${account.getAnimalType()}"></span>
    </div>
</div>
</body>
</html>
