<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Thymeleaf Exercise #</title>
    <link rel="stylesheet" th:href="@{/style.css}" />
    <meta charset="utf-8" />
</head>
<body>
<div>
    <div th:each="account : ${allaccounts}">
        <span th:text="${account.getId()} + ' ' + 'Account owner: ' + ${account.getName()} + ' | Title: ' +
        ${account.getTitle()} + ' | Balance: ' + ${#numbers.formatDecimal(account.getBalance(), 1, 'COMMA', 2, 'POINT')} +
        ' ' + ${account.getCurrency()} + ' | Species: ' + ${account.getAnimalType()} + ' | ' + ${account.goodOrBad()}">
        </span>
    </div>
</div>
</body>
</html>
