<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Thymeleaf Exercise #</title>
    <link rel="stylesheet" th:href="@{/style.css}" />
    <meta charset="utf-8" />
</head>
<body>
<div>
    <div th:each="bankAccount : ${bankAccounts}">
        <span th:text="'Account owner: ' + ${bankAccount.getName()} + ' | Balance: ' +
        ${#numbers.formatDecimal(bankAccount.getBalance(), 1, 'COMMA', 2, 'POINT')} + ' ' +
        ${bankAccount.getCurrency()} + ' | Species: ' + ${bankAccount.getAnimalType()}"></span>
    </div>
</div>
</body>
</html>
