* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: #eee;
}

.header {
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    position: relative;
}

.navbar {
    display: flex;
    padding: 10px 30px;
    background-color: rgb(70, 70, 70);
}
.navbar a {
    margin: 0 15px;
    text-decoration: none;
    color: white;
}

.flexgrid {
    margin: 0px 30px;
    padding-top: 25px;
    display: flex;
    justify-content: space-between;
}
.flexgrid .colmain {
    width: 75%;
}
.flexgrid .colinfo {
    width: 25%;
    background-color: white;
    border-radius: 15px;
    margin: 0 50px 100px;
}

.post {
    box-sizing: border-box;
    width: 100%;
    font-size: 14px;
    color: grey;
    display: flex;
    background-color: white;
    margin: 0 0 10px;
    padding: 10px 10px;
    margin-bottom: 20px;
    border-radius: 15px;
}

.post:hover {
    background-color: rgb(250, 250, 250);
}

.post h1 {
    font-size: 20px;
}

.postbuttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 5px;
    padding-right: 20px;
}

.posttext span {
    margin: 20px 0px;
}

.info {
    margin: 20px;
}

.about {
    font-weight: bold;
    margin-bottom: 10px;
}

.abouttext {
    text-align: justify;
}

.usefullinks {
    margin-top: 20px;
}

.topics {
    margin: 10px 30px;
}

.editpost {
    text-align: center;
    padding: 10px 0 20px;
}

.editpost input {
    margin: 10px;
}

.editpost button {
    padding: 3px;
    margin: 5px;
}
