<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Url aliaser</title>
</head>
<body>
    <form th:method="post" th:action="@{/save-link}">
        <label for="url">URL</label>
        <input id="url" type="text" name="url" th:value="${newAlias.url}">
        <label for="alias">Alias</label>
        <input id="alias" type="text" name="alias" th:value="${newAlias.alias}">
        <button type="submit">Submit</button>
    </form>
</body>
</html>
