<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Url aliaser</title>
</head>
<body>
    <form th:method="post" th:action="@{/save-link}">
        <label>URL</label>
        <input th:type="text" name="url">
        <label>Alias</label>
        <input type="text" name="alias">
        <button th:type="submit">Submit</button>
    </form>
</body>
</html>
