<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Attraction finder</title>
</head>
<body>
<form th:method="post" th:action="@{/edit}" th:object="${editAttraction}">
    <label>Name</label>
    <input type="text" required th:field="*{name}">
    <label>City</label>
    <input type="text" required th:field="*{city}">
    <label>Price</label>
    <input type="number" required th:field="*{price}">
    <label>Longtitude</label>
    <input type="number" required th:field="*{longitude}">
    <label>Altitude</label>
    <input type="number" required th:field="*{latitude}">
    <label>Category</label>
    <input type="text" required th:field="*{category}">
    <label>Duration</label>
    <input type="number" required th:field="*{duration}">
    <label>Recommended Age</label>
    <input type="number" required th:field="*{recommendedAge}">
    <button type="submit">Submit</button>
</form>
<table>
    <tr>
        <td>name</td>
        <td>city</td>
        <td>price</td>
        <td>longitude</td>
        <td>latitude</td>
        <td>category</td>
        <td>duration</td>
        <td>recommendedAge</td>
    </tr>
    <tr th:object="${attraction}" th:each="attraction : ${attractions}">
        <td th:text="*{name}"></td>
        <td th:text="*{city}"></td>
        <td th:text="*{price}"></td>
        <td th:text="*{longitude}"></td>
        <td th:text="*{latitude}"></td>
        <td th:text="*{category}"></td>
        <td th:text="*{duration}"></td>
        <td th:text="*{recommendedAge}"></td>
    </tr>
</table>
</body>
</html>
