<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Url aliaser</title>
</head>
<body>
<form th:method="post" th:action="@{/add}" th:object="${attraction}">
    <label>Name</label>
    <input type="text" th:value="*{name}">
    <label>City</label>
    <input type="text" th:value="*{city}">
    <label>Price</label>
    <input type="number" th:value="*{price}">
    <label>Longtitude</label>
    <input type="number" th:value="*{longitude}">
    <label>Altitude</label>
    <input type="number" th:value="*{latitude}">
    <label>Category</label>
    <input type="text" th:value="*{category}">
    <label>Duration</label>
    <input type="number" th:value="*{duration}">
    <label>Recommended Age</label>
    <input type="number" th:value="*{recommendedAge}">
    <button type="submit">Submit</button>
</form>
</body>
</html>
