<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ToDoList</title>
    <link href="/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css" rel="stylesheet"/>
</head>
<body>
<h1>Todos for today:</h1>
<table>
    <thead>
    <tr>
        <td>Id</td>
        <td>Task</td>
        <td>Status</td>
        <td>Urgent</td>
    </tr>
    </thead>
    <tbody>
    <th:block th:each="todo:${alltodos}">
        <tr>
            <td th:text="${todo.getId()}"></td>
            <td th:text="${todo.getName()}"></td>
            <td th:text="${todo.isDone()}"></td>
            <td th:text="${todo.isUrgent()}"></td>
        </tr>
    </th:block>
    </tbody>
</table>
<script src="/webjars/jquery/1.11.1/jquery.min.js"></script>
<script src="/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js"></script>
</body>
</html>
